
  
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h3 class="text-center dayTitle" ng-controller="dayLabelController">
              
            </h3>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="earlyTitle">
                        Early Day (AM)
                    </h3>

                    <div class="selectWrapper">
                      <select-Tool></select-Tool>
                      <select-Tool></select-Tool>
                    </div>
                    <a href="#" addbuttons class="btn btn-primary btn-success"><span class="glyphicon glyphicon-plus"></span> Add More</a>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="middayTitle">
                       Midday (EM)
                    </h3> 
                  <div class="selectWrapper">
                    <select-Tool></select-Tool>
                    <select-Tool></select-Tool>
                  </div>
                 <a href="#" addbuttons class="btn btn-primary btn-success"><span class="glyphicon glyphicon-plus"></span> Add More</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="eveningTitle">
                      Evening (PM)
                    </h3> 

                  <div class="selectWrapper">
                    <select-Tool></select-Tool>
                    <select-Tool></select-Tool>
                  </div>
                  <a href="#" addbuttons class="btn btn-primary btn-success"><span class="glyphicon glyphicon-plus"></span> Add More</a>
                             
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>


</div>
<hr>